:root {
  /*colores*/
  --blanco:#ffffff;
  --verde1: #025930;
  --verde-principal: #04c900;
  --gris: #e6e6e6;
  --naranja: #d9a404;
  --span: #6abf79;
  --amarillo1: #d2d921;
  --azulceleste: #40a8c7;
  /*fuentes*/
  --font-size-a: 2.2rem;
  --font-size-h4: 2.2rem;
  --font-size-h1: 4.2rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  font-size: var(--font-size-a);
  cursor: pointer;
}
body {
  font-size: 1.6rem;
  font-family: "Times New Roman", Times, serif;
}
/*---Codigo del header---*/
header {
  width: 100%;
  background-color: var(--verde-principal);
}
header .contenedor-header {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 120px;
  align-items: center;
}
header .contenedor-header h1,
h4 {
  color: white;
}
header .contenedor-header h4 {
  font-size: var(--font-size-h4);
  letter-spacing: 1px;
  margin-top: 5px;
  margin-left: 10px;
}
header .contenedor-header h1 {
  margin-top: 10px;
  margin-left: 10px;
  font-size: var(--font-size-h1);
  /* letter-spacing: 2px; */
}
header .contenedor-header .logo-texto-derecho {
  text-align: end;
}
header .contenedor-header .logo-texto-derecho a {
  margin-right: 10px;
  color: white;
  text-decoration: none;
  font-size: var(--font-size-a);
}
/* header .contenedor-header .logo-texto-derecho a::after {
  content: " |";
} */
/*---codigo de navegacion---*/
.navegacion{
    max-width: 1000px;
    margin: 0 auto;
}
.nav-container {
  max-width: 1000px;
  width: 80%;
  height: 50px;
  padding-left: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
.nav-container .container-a {
  padding: 14px;
}
.nav-container .active {
  background-color: var(--verde-principal);
  border-top: 1px solid white;
}
.nav-container .active:hover{
  background-color: var(--verde-principal);
}
.nav-container .active a {
  color: white;
}
.nav-container .container-a a {
  text-decoration: none;
}

/*---Codigo del texto grande---*/
.texto-grande {
  width: 100%;
}
.texto-grande .contenedor-texto {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  background-image: url(../images/mundomanzana.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.texto-grande .contenedor-texto h2.big-text {
  margin-left: 10px;
  padding: 15px 0 0;
  font: normal var(--font-size-h1) Georgia, "Times New Roman", Times, serif; 
  color: #0b0b0b;
  letter-spacing: -2px;
}
/* h2.big-text{ font-size: calc(1em + 1vw) }; */
.texto-grande .contenedor-texto h2.big-text span {
  color: var(--span);
}
/*---codigo de la linea central y marca---*/
.marca {
  width: 100%;
  height: 70px;
  padding: 15px;
  background: var(--gris);
  border-top: var(--verde-principal) groove 10px;
  font-size: var(--font-size-a);
}
.marca p.marca-contenedor {
  margin: 0 auto;
  text-align: center;
  color: var(--span);
  max-width: 1000px;
  height: 100%;
  font-size: var(--font-size-a);
}
.marca .marca-contenedor > span {
  color: var(--naranja);
}

/*---Modulo para el footer---*/
footer {
  /* border: 1px solid black; */
  width: 100%;
  /* background-color: var(--verde-principal); */
  display: grid;
  grid-template-rows: 1fr 0.30fr;
}
footer .contenido-footer {
  /* border: 1px solid red; */
  margin: 0 auto;
  padding: 10px;
  width: 100%;
  max-width: 1000px;
  color: white;
  font-size: var(--font-size-a);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align:justify;
  align-items: center;
  min-height: 100px;
}
footer .contenido-footer .item {
  /* border: 2px solid blue; */
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  font-size: var(--font-size-a);
  color: white;
}
footer .copy {
  text-align: center;
  width: 100%;
  background-color: var(--verde-principal);
  padding-top: 15px;
}
footer .copy h2 {
  color: white;
}
/*---codigo del inicio sesion*/
main {
  padding-top: 30px;
  padding-bottom: 40px;
  width: 100%;
  background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url(../images/fondo-login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
main .formulario {
  margin: 0 auto;
  width: 30%;
  min-height: 350px;
  background: rgba(5, 7, 12, 0.5);
  padding: 20px 20px;
  max-width: 1000px;
  font-size: 2rem;
  border-radius: 5px;
}
main .formulario h2 {
  color: white;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
main .formulario h3 {
  color: white;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 15px;
}
main .formulario .mensaje{
  color: white;
}
main .formulario select{
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  height: 40px;
  font-size: 1.7rem;
  color: #757575;
  border: none;
  border-radius: 0.4rem;
}
main .formulario input {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  height: 40px;
  font-size: 1.7rem;
  color: #000;
  border: none;
  border-radius: 0.4rem;
}
main .formulario span {
  color: white;
}
main .formulario .button {
  padding: 4px 16px;
  background-color: var(--verde-principal);
  color: white;
  font-size: var(--font-size-a);
  cursor: pointer;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/*main cards*/
.main-container {
  background: white;
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.main-container .card {
  margin: 40px auto;
  width: 90%;
  max-width: 200px;
  border: none;
  border-radius: 8px;
  height: 350px;
  display: grid;
  grid-template-rows: 1.4fr 0.8fr 0.8fr;
  grid-gap: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.main-container .card .container-img-card {
  padding-top: 15px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  text-align: center;
}
.main-container .card .card1{
  background: #00ced1;
}
.main-container .card .card2{
  background: #4701a2 ;
}
.main-container .card .card3{
  background:#ca0030 ;
}
.main-container .card .card4{
  background:#c8c901;
}
.main-container .card .card5{
  background:#00ced1;
}
.main-container .card .card6{
  background:#BF2604;
}

.main-container .card .nombre-card {
  margin: 0;
  border-bottom: 1px solid gr;
}
.card .nombre-card .titulo {
  padding-left: 10px;
  padding-top: 10px;
  color: black;
  text-align: start;
  font-size: 2rem;
}
.main-container .card .nombre-card p {
  padding-left: 10px;
  padding-top: 10px;
}
.main-container .card .button-card {
  padding: 10px;
}

.main-container .card .button-card a {
  border: none;
  padding: 10px 10px;
  text-decoration: none;
  /* background: var(--verde-principal); */
  color: white;
  border-radius: 5px;
  font-size: 1.6rem;
}
.main-container .card .button-card .button-card1 {
  background: #00ced1;
}
.main-container .card .button-card .button-card2 {
  background: #4701a2 ;
}
.main-container .card .button-card .button-card3 {
  background:#ca0030 ;
}
.main-container .card .button-card .button-card4 {
   background:#c8c901;
}
.main-container .card .button-card .button-card5 {
   background:#00ced1;
}
.main-container .card .button-card .button-card6 {
   background:#BF2604;
}
/*---media querys---*/
@media screen and (max-width: 1024px) {
  main .formulario{
    width: 30%;
  }
}
@media screen and (max-width: 767px) {
  :root{
    --font-size-h1:3.6rem;
    --font-size-a:1.8rem;
  }
  .main-container {
    max-width: 700px;
    grid-template-columns: repeat(2,1fr);
  }
  .marca{
    height: 90px;
    padding: 20px;
  }
  main .formulario{
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  :root{
    --font-size-a:1.6rem;
    --font-size-h1:2.7rem;
  }
  header .contenedor-header {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  header .contenedor-header h1 {
    margin-top: 10px;
    margin-left: 10px;
    font-size: var(--font-size-h1);
    margin-bottom: 8px;
  }
  header .contenedor-header h4 {
    margin-left: 10px;
  }
  header .contenedor-header .logo-texto-derecho {
    text-align: start;
    margin-left: 10px;
  }
  .texto-grande .contenedor-texto h2.big-text {
    font: normal var(--font-size-h1) Georgia, "Times New Roman", Times, serif; 
  }
  .marca{
    height: 100px;
    padding: 15px;
  }
  .marca p.marca-contenedor {
  font-size: 1.6rem;
  }
  .main-container{
    grid-template-columns: 1fr;
  }
footer .contenido-footer{
  grid-template-columns:1fr;
  grid-template-rows: 3fr;
}
/* footer .contenido-footer .item {

} */
footer .copy{
  height: 80px;
}
main .formulario{
  width: 80%;
}
  } 
