.video {
  /* border: 1px solid red; */
  text-align: center;
  margin-bottom: 20px;
}
.video iframe {
  max-width: 800px;
  width: 100%;
  height: 400px;
}
.h1 {
  margin: 20px auto;
  max-width: 1000px;
  width: 100%;
  text-align: center;
  font: normal 45px Georgia, "Times New Roman", Times, serif;
  color: #0b0b0b;
}

/* actividad 1 */
.tabla1 {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  height: auto;
  border-collapse: collapse;
  border: 1px solid #090;
  /* background-image: url(../img/aguila.gif); */
  background-size: contain;
  background-repeat: no-repeat;
}
.tabla1 td {
  text-align: center;
  border: 1px solid #090;
  padding: 10px;
}
.tabla1 td:hover {
  color: #fff;
  background: #099;
}
.tabla1 .td1 {
  width: 10%;
}
.tabla1 .td2 {
  width: 40%;
}
.tabla1 .acti3-td1 {
  width: 50%;
}
.tabla1 .acti3-td2 {
  width: 50%;
}
.tabla2 {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  height: auto;
  border-collapse: collapse;
  border: 1px solid #090;
}
.tabla2 .thead {
  border: none;
}
.tabla2 td {
  width: 25%;
  text-align: center;
  border: 1px solid #090;
  padding: 10px;
}
.tabla2 td img {
  width: 60%;
  height: auto;
}
.tabla2 input {
  width: 100%;
  height: 40px;
  font-size: 17px;
  background-color: #c8c901;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.tabla2 select {
  display: block;
  width: 100%;
  font-size: 17px;
  background-color: #c8c901;
  color: #fff;
  border: none;
  text-align: center;
}
.tabla2 select option {
  border: none;
}
.tabla3{
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  height: auto;
  border-collapse: collapse;
  border: 1px solid #090;
  /* background-image: url(../img/aguila.gif); */
  background-size: contain;
  background-repeat: no-repeat;
}
.tabla3 .button {
  width: 100%;
  height: 40px;
  font-size: 17px;
  background-color: #6bbf78;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* .tabla3 td {
  width: 100%;
  text-align: center;
  border: 1px solid #090;
  padding: 10px;
} */
.tabla1 .pista1ver:hover {
  background: url(../img/avepista.gif) left no-repeat;
  background-size: contain;
  box-shadow: 0px 0px 8px;
  /* color: #000; */
  color:#099; 
}
.pista2ver {
  box-shadow: 0px 0px 0px;
}
.tabla1 .pista2ver:hover {
  background: url(../img/huella-rinoceronte.jpg) left no-repeat;
  background-size: contain;
  box-shadow: 0px 0px 8px;
  color: #099;
}
.tabla1 .pista3ver {
  box-shadow: 0px 0px 0px;
}
.tabla1 .pista3ver:hover {
  background: url(../img/huellapasto.jpg) bottom left no-repeat;
  box-shadow: 0px 0px 8px;
  color: #099;
}
.tabla1 .pista4ver {
  box-shadow: 0px 0px 0px;
}
.tabla1 .pista4ver:hover {
  background: url(../img/osopista.fw.png) bottom left no-repeat;
  box-shadow: 0px 0px 8px;
  color: #099;
}
.tabla1 .pista1hor {
  box-shadow: 0px 0px 0px;
}
.tabla1 .pista1hor:hover {
  background: url(../img/huella1hor.fw.png) bottom left no-repeat;
  box-shadow: 0px 0px 8px;
  color: #099;
}
.tabla1 .pista2hor {
  box-shadow: 0px 0px 0px;
}
.tabla1 .pista2hor:hover {
  background: url(../img/elefantepista.png) bottom left no-repeat;
  box-shadow: 0px 0px 8px;
  color: #099;
}
.tabla1 .pista3hor {
  box-shadow: 0px 0px 0px;
}
.tabla1 .pista3hor:hover {
  background: url(../img/huella-anfibio.png) bottom left no-repeat;
  box-shadow: 0px 0px 8px;
  color: #099;
}
.tabla1 .pista4hor {
  box-shadow: 0px 0px 0px;
}
.tabla1 .pista4hor:hover {
  background: url(../img/torpista.fw.png) bottom left no-repeat;
  box-shadow: 0px 0px 8px;
  color: #099;
}
h2 {
  color: #f93;
  text-align: center;
  font-size: 30px;
}

/* codigo actividad 2 insecto */
.insecto {
  margin: 0 auto;
  max-width: 560px;
  min-height: 358;
  width: 50%;
  height: 60vh;
  /* border: 1px solid red; */
  background-image: url(../img/inse.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}
.insecto span {
  position: absolute;
}
.insecto span:first-child {
  top: 70%;
}
.insecto span:nth-child(2) {
  left: 35%;
  top: 15%;
}
.insecto span:nth-child(3) {
  left: 52%;
  top: 5%;
}
.insecto span:nth-child(4) {
  left: 15%;
  top: 80%;
}
.insecto span:nth-child(5) {
  left: 16%;
  top: 91%;
}
.insecto span:nth-child(6) {
  left: 39%;
  top: 91%;
}
.insecto span:nth-child(7) {
  left: 72%;
  top: 88%;
}
.insecto span:nth-child(8) {
  left: 82%;
  top: 38%;
}
.insecto span:nth-child(9) {
  left: 96%;
  top: 57%;
}
/* codigo actividad 3 Gato */
.gato {
  margin: 0 auto;
  max-width: 560px;
  min-height: 358px;
  width: 50%;
  height: 60vh;
  /* border: 1px solid red; */
  background-image: url(../img/gato.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}
.gato span {
  position: absolute;
}
.gato span:first-child {
  top: 48%;
}
.gato span:nth-child(2) {
  left: 2%;
  top: 56%;
}
.gato span:nth-child(3) {
  top: 64%;
  left: 6%;
}
.gato span:nth-child(4) {
  top: 65%;
  left: 42%;
}
.gato span:nth-child(5) {
  top: 70%;
  left: 58%;
}
.gato span:nth-child(6) {
  top: 64%;
  left: 65%;
}
.gato span:nth-child(7) {
  top: 8%;
  left: 38%;
}
.gato span:nth-child(8) {
  top: 13%;
  left: 50%;
}
.gato span:nth-child(9) {
  top: 7.5%;
  left: 60%;
}
.gato span:nth-child(10) {
  top: 14%;
  left: 68%;
}
.gato span:nth-child(11) {
  top: 25%;
  left: 85%;
}
.gato span:nth-child(12) {
  top: 44%;
  left: 85%;
}
.ver-sig {
  width: 100%;
  height: 60px;
  max-width: 600px;
  /* border: 1px solid #000; */
  margin: 0 auto;
}
.ver-sig .boton {
  /* border: 1px solid red; */
  width: 170px;
  height: 100%;
  padding: 7px;
  display: inline-block;
  text-align: center;
}
/* .ver-sig .btn-container{
  border: 1px solid blue;
  max-width: 1000px;
  text-align: left;
}
.ver-sig .btn-evalua{
  text-align: center;
  color: #025930;
} */
.ver-sig .boton input {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: #025930;
  font-size: 18px;
  color: white;
  cursor: pointer;
}
.ver-sig .boton input:hover {
  background-color: rgba(0, 0, blue, 0.7);
}
/* codigo evalua */
.columna {
  margin: 20px auto;
  border: none;
  padding: 20px;
  max-width: 1000px;
  width: 60%;
  height: auto;
  color: white;
  background-color: #4701a2;
  border-radius: 7px;
  text-align: left;
  font-size: 16px;
}
.columna h1 {
  font-size: 20px;
  padding: 7px;
  color: #6d6d6d;
  background: #fff;
  border-radius: 10px;
}
.columna label {
  display: block;
  margin-right: 10px;
  font-size: 18px;
  color: #fff;
  margin: 10px;
}
.columna .btn-evalua {
  color: white;
  margin-top: 10px;
  padding: 10px;
  width: 40%;
  height: 50px;
  background-color: #c8c901;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}
/* codigo del pdf */
.pdf-view {
  margin: 10px auto;
  max-width: 1000px;
  width: 60%;
  height: 80vh;
}
.pdf-view iframe {
  width: 100%;
  height: 100%;
  border: none;
}
@media screen and (min-width: 581px) and (max-width: 800px) {
  .h1 {
    font-size: 35px;
  }
  .ave {
    width: 60%;
    height: 40vh;
  }
}
@media screen and (max-width: 580px) {
  .h1 {
    font-size: 30px;
  }
  .ave {
    height: 35vh;
    width: 90%;
  }
  .columna {
    width: 90%;
  }
  .columna h1 {
    font-size: 17px;
  }
  .columna label {
    font-size: 16px;
  }
  .pdf-view {
    width: 90%;
  }
}
