body{
    background-color: #ffffff;
    color:#000000;
}
h1{
    color:#333333;
}
button{
    position: fixed;
    top: 40%;
    right: 5px;
    background-color: #0b0b0b;
    color: #fff;
    border: none;
    /* border: 2px solid #099; */
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}
