*{
  text-decoration: none;
}
.reg-container {
  /* border: 1px solid red; */
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  height: 100vh;
}
.reg-container .reg-form {
  margin: 20px auto;
  padding: 15px;
  width: 50%;
  border: 1px solid #212529;
  height: auto;
  border-radius: 5px;
}
.reg-container .reg-form h1 {
  text-align: center;
  color: #212529;
  font: normal var(--font-size-h1) Georgia, "Times New Roman", Times, serif;
  margin-bottom: 10px;
}
.reg-container h1 {
  text-align: center;
  color: #6d6d6d;
  font: normal var(--font-size-h1) Georgia, "Times New Roman", Times, serif;
  margin-bottom: 10px;
}
.reg-container .reg-form label {
  color: #212529;
  width: 100%;
  font-size: 20px;
}
.reg-container .reg-form input {
  width: 100%;
  height: 35px;
  margin-bottom: 15px;
}
.reg-container .reg-form h2 {
  margin-top: 10px;
  margin-bottom: 5px;
  color: var(--verde-principal);
  font: var(--font-size-h4) Georgia, "Times New Roman", Times, serif;
}
.reg-container .reg-form .grado {
  width: 30%;
  color: white;
  background-color: var(--verde-principal);
  font-size: 17px;
  border: none;
}
.reg-container .reg-form .reg-button {
  color: white;
  background-color: black;
  font-size: var(--font-size-a);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.reg-container .reg-form .reg-button:hover {
  background-color: #212529;
}
.reg-container .table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  font: normal Georgia, "Times New Roman", Times, serif;
}
.reg-container .table .thead{
  background-color: #212529;
  height: 46px;
  color: white;
}
.reg-container .table tr{
  border-bottom: 1px solid #dee2e6;
  height: 46px;
}
.reg-container .table a{
  font-size: 16px;
  color: #212529;
}
.reg-container .table a:hover{
  color: black;
}
@media screen and (max-width: 800px) {
  :root {
    --font-size-a: 1.6rem;
    --font-size-h1: 2.7rem;
  }
  .reg-container .reg-form {
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --font-size-a: 1.6rem;
    --font-size-h1: 2.7rem;
  }
  .reg-container .reg-form {
    width: 90%;
  }
}
